<section class="new-training" fxLayout fxLayoutAlign="center">
    <form (ngSubmit)="onStartTraining(f)" #f="ngForm"> <!--assign form object to f-->
        <mat-card fxFlex.xs="100%" fxFlex="400px" style="padding: 20px;">
            <mat-card-title fxLayoutAlign="center" style="margin-bottom: 1em;">
                Time to start a workout!
            </mat-card-title>
            <mat-spinner *ngIf="exercises == undefined" style="margin: 0 auto;"></mat-spinner>
            <mat-card-content fxLayoutAlign="center">
                <mat-form-field *ngIf="exercises != undefined && exercises != []">
                <mat-label>Exercises</mat-label>
                <mat-select placeholder="Choose Exercise" ngModel name="exercise" required>
                    <!-- Adding the async pipe to the below structural directive due to it being sourced via firestore observable: ASYNC REMOVED DUE TO SUBSCRIPTION MOVED TO SERVICE -->
                    <mat-option *ngFor="let exercise of exercises" value="{{exercise.id}}">
                    {{exercise.name}}
                    </mat-option>
                </mat-select>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center" *ngIf="exercises != undefined">
                <button *ngIf="exercises != null" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Start</button>
                <button *ngIf="exercises == null" type="button" mat-raised-button color="primary" (click)="fetchExercises()">Fetch Again</button>
            </mat-card-actions>
        </mat-card>
    </form>
</section>