/* You can add global styles to this file, and also import other style files */


/* Commenting out this default theme as a custom mythemes.scss is being used
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*/

html, body { 
    height: 100%; 
    margin: 0;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

